<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Aide-mémoire partagé</title>
    <script src="jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
      <header>
        <h1>Aide-mémoire partagé</h1>
      </header>

      <nav>
        <ul>
          <li><a href="inscription.ejs">Inscription</a></li>
          <li><a href="connexion.ejs">Connexion</a></li>
        </ul>
      </nav>
  </body>
</html>
