<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Aide-mémoire partagé</title>
    <script src="../jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header>
      <h1>Aide-mémoire partagé</h1>
    </header>
    
    <form id="formulaire" action="connexion.ejs" method="post">
      <p>Pseudo</p> <input type="text" name="pseudo"><br>
      <p>Mot de passe</p> <input type="password" name="mdp">
      <button id="connexion" type="submit" name="connexion">Connexion</button>
      <button type="button" id="inscription">Inscription</button>
    </form>

    <script>
      $("#inscription").click(function(){
        window.location.replace("inscription.ejs");
      });
    </script>
  </body>
</html>
